body {
  font: 14px "Helvetica Neue", "Helvetica", "PingFang SC", "\5fae\8f6f\96c5\9ed1", "Tahoma", "Arial",
    sans-serif;
  color: #333;
}

.flex {
  display: flex;
}

.height_100p {
  height: 100%;
}

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-around {
  justify-content: space-around;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-end {
  justify-content: flex-end;
}
