body {
  font: 14px "Helvetica Neue", "Helvetica", "PingFang SC", "\5fae\8f6f\96c5\9ed1", "Tahoma", "Arial",
    sans-serif;
  color: #333;
}

.flex {
  display: flex;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-justify-between {
  display: flex;
  justify-content: space-between;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
