// header
.headerBg {
  height: 60px;
  background: #545c64;
}

.rightWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
}

.menuIcon {
  margin-top: -2px;
  margin-right: 5px;
}
