// header
.header {
  height: 60px;
  padding: 0 30px;
  background: #545c64;

  .menuIcon {
    margin-top: -2px;
    margin-right: 5px;
  }
}

.headerRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  color: #fff;
}
